body {
    background-color: #f8f9fa;
}

.payment-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#logo{
    width: 50px;
    height: 50px;
    
}
.loading-indicator {
    display: none;
}