/* Open sens font from google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap')

*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
.sidebar {
    height: 100%;
    width: 25%;
    top: 0;
    left: 0;
    background-color: #4fd28a;
    padding-top: 50px;
    position: fixed;
  
  }

  .sidebar hr {
    height: 1px;
    background-color: #ace5c6;
  }

  .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    display: block;
  }

  .sidebar a:hover {
    background-color: #5a6268;
  }

  .content {
    margin-left: 25%;
    padding: 20px;
    width: 75%;
    margin-right: 0;
    
    position: relative;
   
  }

  .form-container {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 2;
   
  }

  .table-container {
    display: none;
  }

  .table-container table {
    width: 100%;
  }