/* rimjhim's extra css ?*/
/* for all 3 Form */
body, h1, h2, p, label, input, select, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body Styles for all 3 */
  body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
  }
  
  /* Main Styles for all 3 */
  main {
    padding: 20px;
    display:flex;
    justify-content:center;
  }
  
  /* Employee Details Form Styles */
  #employeeDetailsForm {
    background-color:whitesmoke;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width:100%
  }
  
  #employeeDetailsForm label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  #employeeDetailsForm input,
  #employeeDetailsForm select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  #employeeDetailsForm input#address {
    width: 100%;
    padding: 40px;
  }
  
  
  #employeeDetailsForm button {
    background-color:#16df7e;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #employeeDetailsForm button:hover {
    background-color:#206bfb;
  }
  
  /* Employer Form Styles */
  #employerForm {
    background-color:whitesmoke;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
  }
  
  #employerForm label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  #employerForm input,
  #employerForm select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  #employerForm input#employerAddress{
    width: 100%;
    padding: 40px;
  }
  
  #employerForm input#partnership{
    width: 100%;
    padding: 30px;
  }
  
  
  
  #employerForm button {
    background-color:#16df7e;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #employerForm button:hover {
    background-color:#206bfb;
  }
  
  /* Payment Form Styles */
  #paymentForm {
    background-color:whitesmoke;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
  }
  
  #paymentForm label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  #paymentForm input,
  #paymentForm select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  #paymentForm button {
    background-color:#16df7e;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #paymentForm button:hover {
    background-color:#206bfb;
  }
  
  #employerForm, #paymentForm {
    display: none;
  }